<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stoefelz.justdoit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JustDoIt">
        <activity
            android:name=".Date_Picker"
            android:exported="false" />
        <activity
            android:name=".About_Activity"
            android:exported="false" />
        <activity
            android:name=".Color_Picker"
            android:exported="false" />
        <activity
            android:name=".Add_Task"
            android:exported="false" />
        <activity
            android:name=".Main_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>